:root {
    --white-color: #fff ;
    --black-color: #000 ; 
    --text-color: #333 ; 
    --main-color: #fa5030 ;

    --header-height: 120px ; 
    --header-nav-height: 32px ; 
    --header-with-search-height: calc(var(--header-height) - var(--header-nav-height)) ; 
    --header-sortbar-height: 46px 
}

* {
    box-sizing: inherit;
}

html { 
    /* font-size: 100%; --> 16px */ 
    font-size: 62.5%;  /*10px*/   
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
} 


.grid-row {
    display: flex;
    flex-wrap: wrap; 
    margin-left: -5px;
    margin-right: -5px;
}

.grid-col-2 {
    padding-left: 5px ;
    padding-right: 5px;
    width: 16.6667%;
}


.grid-col-10 {
    padding-left: 5px ;
    padding-right : 5px ;
    width: 83.3333%;
}

.grid-col-2-5 {
    padding-left: 5px ;
    padding-right: 5px;
    width: 20% ;
}


.btn {
    background-color: var(--white-color);
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    font-size: 1.5rem;
    outline: none;
    border: none ; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    border-radius: 2px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes grownUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to { 
        opacity: 1;
        transform: scale(1);
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.pagination-item {
    font-size: 1.8rem; 
    padding: 0 12px;
    color: #939393;
    cursor:default;
}
.pagination-item:hover .pagination-item--link {
    color: var(--main-color);
}
.pagination-item--link {
    --height: 30px ;
    display: block;
    text-decoration: none; 
    min-width: 40px;
    min-height: var(--height); 
    text-align: center;
    line-height: var(--height) ;
    color: #939393;
}
.pagination-item--active  .pagination-item--link {
    background-color: #f05d40;
    color: var(--white-color);
}
.pagination-item--active:hover .pagination-item--link {
    opacity: 0.9;
    color: var(--white-color);
}




